.answer {
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    margin-left: 20px;
}
.q3 {
    display: inline-block;
    height: 30px;
    width: 200 px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    margin-left: 20px;

}

