.kitchen {
     display: flex;
     justify-content: center;
     margin-top: 0.5rem;
}
.devices {
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
 
}
.cosmetics {
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
}
.p {
    justify-content:left;
    padding-left:  20px;
    margin-top: 0;
    padding-top: 0;
    position: relative;
}
.div-block {
    padding-left:  20px;
    padding-top: 10px;
    height: 130px;
    width: 160px;
    background: grey;
    margin: 2px;
    margin-top: 18px;
}
.img {
    display: block;
    margin: 0 auto;
    height: 55px;
}

.span {
    margin-left: 0px;
}
.hr {
    width: 65rem;
    position:fixed;
    margin-top: 10rem;
    margin-left: 3rem;
}
